---
import Container from "@components/container.astro";
---

<Container>
  <footer class="bottom-0 mt-40 left-0 right-0 mx-auto">
    <p class="text-center text-sm text-slate-500">
      Copyright © {new Date().getFullYear()} Parktech Systems. All rights reserved.
    </p>
  </footer>
</Container>
