---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">&nbsp;</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">
          PARKTECH SYSTEMS SDN BHD
        </h2>
        <p>702659-T</p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Thank you for visiting our website. Please contact us if you have any
          additional questions or comments.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>29, Jalan Khalsa, 51100 Kuala Lumpur</span>
          </div>
          <div
            class="flex items-center mt-2 space-x-2 text-gray-600 hover:underline">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:gary@parktech.com.my">gary@parktech.com.my</a
            >
          </div>
          <div
            class="flex items-center mt-2 space-x-2 text-gray-600 hover:underline">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+(60)3-6257 2188">+603-6257 2188</a
            >
          </div>

        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
