---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import EventsGrid from "@components/EventsGrid.astro";

let url = import.meta.env.STRAPI_URL + "/api/events?populate=image";

const events = await fetch(url).then((response) => response.json());
---

<Layout title="Events">
  <Container>
    <!-- <Sectionhead>
      <Fragment slot="title">Events</Fragment>
      <Fragment slot="desc">Parktech Systems</Fragment>
    </Sectionhead> -->

    <div class="flex flex-col gap-3 max-w-4xl mt-16">
      <div class="leading-relaxed text-slate-500">
        <EventsGrid events={events} < div />
      </div>
    </div>
  </Container>
</Layout>
